body {
	width: 400px;
	margin: 0 auto;
	padding: 10px;
}

input {
	margin-bottom: 5px;
}

.submitStudy {
	margin: 0 0 auto 40% ;
}

#hourForm,
.secondHourForm {
	display: none;
}

#result {
  display: none;
}
